body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
}

#availableTripsSection {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

.trip {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.trip p {
  margin-bottom: 10px;
}

.select-trip-btn {
  background-color: rgb(17, 255, 0);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.select-trip-btn:hover {
  background-color: yellow;
  color: blue;
}
  
