body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

header {
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

form {
  margin-bottom: 1em;
}

input[type="file"] {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(17, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: yellow;
  color: blue;
}
